<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IInvoiceService" />
                <binding name="BasicHttpBinding_IInvoiceService1">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IInvoiceService" />
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IInvoiceService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1010/invoice/basic" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IInvoiceService" contract="InvoiceServiceReference.IInvoiceService"
                name="BasicHttpBinding_IInvoiceService" />
            <endpoint address="http://localhost:1010/invoice/ws" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IInvoiceService" contract="InvoiceServiceReference.IInvoiceService"
                name="WSHttpBinding_IInvoiceService">
                <identity>
                    <userPrincipalName value="DESKTOP-DKFE0DG\lsamorim" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:1011/invoice" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IInvoiceService" contract="InvoiceServiceReference.IInvoiceService"
                name="NetTcpBinding_IInvoiceService">
                <identity>
                    <userPrincipalName value="DESKTOP-DKFE0DG\lsamorim" />
                </identity>
            </endpoint>
            <endpoint address="https://localhost:1012/invoice/basic2" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IInvoiceService1" contract="InvoiceServiceReference.IInvoiceService"
                name="BasicHttpBinding_IInvoiceService1" />
        </client>
    </system.serviceModel>
</configuration>