<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <system.serviceModel>

    <services>
      <service behaviorConfiguration="Metadata" name="WcfServiceLibrary1.InvoiceService">

        <endpoint address="http://localhost:1010/invoice/basic" binding="basicHttpBinding"
                  contract="WcfServiceLibrary1.IInvoiceService" />

        <endpoint address="http://localhost:1010/invoice/ws" binding="wsHttpBinding"
                  contract="WcfServiceLibrary1.IInvoiceService" />

        <endpoint address="net.tcp://localhost:1011/invoice" binding="netTcpBinding"
                  contract="WcfServiceLibrary1.IInvoiceService" />

        <endpoint address="https://localhost:1012/invoice/basic2" binding="basicHttpBinding"
                  bindingConfiguration="CustomBindingConfiguration" contract="WcfServiceLibrary1.IInvoiceService" />

        <endpoint address="http://localhost:1013/invoice/rest" binding="webHttpBinding"
                  contract="WcfServiceLibrary1.IInvoiceService" />
        
        <!-- MEX ENDPOINTS -->
        <endpoint address="http://localhost:2020/invoice/mex" binding="mexHttpBinding"
                  contract="IMetadataExchange"/>
        <endpoint address="net.tcp://localhost:2021/invoice/mex" binding="mexTcpBinding"
                  contract="IMetadataExchange"/>

      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="Metadata">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:5555/invoice/meta" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <basicHttpBinding>
        <binding name="CustomBindingConfiguration">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>

  </system.serviceModel>

</configuration>